@layer utilities {
  .layout-full {
    @apply flex min-h-dvh w-full flex-col items-center;

    @variant max-md {
      @apply px-4;
    }
  }
  .layout-conts {
    @apply mx-auto w-full max-w-[1280px] px-4 lg:px-0;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-center-col {
    @apply flex flex-col items-center justify-center;
  }

  .btn-hover-trans {
    @apply transition delay-20 duration-120 ease-in-out;
  }
}
